.body{
    background-color: aliceblue;
    max-width: 100%;
    margin-inline: auto;
    max-height: 100%;
    padding: 8%;
    padding-top: 2%;
    text-align: center;border-radius: 4px;
}

.mainBody{
  overflow: none;
}
