
<div><h1>Welcome</h1></div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Coin Name</th>
            <th scope="col">Symbol</th>
            <th scope="col">Latest Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coin of cryptoCoin">
            <th scope="row">{{coin.name}}</th>
            <td>{{coin.symbol}}</td>
            <td>{{coin.price}}</td>
            <td><button (click)="navigateToCoinDetails(coin.id)">Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>
